<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>System App</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Lista de Usuarios</h1>
<h3><a href="/cadastrarUsuario" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Cadastrar Usuário</a></h3>
<table class="container">
    <thead>
    <tr>
        <th> Nome</th>
        <th> Sobrenome</th>
    </tr>
    </thead>
    <tbody>
    <tr class="row" th:each="usuario : ${usuarios}">
        <td> <a th:href="@{/dadosUsuario/{codigo}(codigo = ${usuario.codigo})}"><span th:text="${usuario.nome}"></span></a></td>
        <td th:text="${usuario.sobrenome}"></td>
    </tr>
    </tbody>
</table>


<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="../../js/materialize.min.js"></script>
</body>
</body>
</html>