<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>System App</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<h1>Conteudo</h1>

<h3><a href="/conteudos" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Lista de Conteúdos</a></h3>
<div class="row">
    <form class="container" method="post">
            <div class="input-field col s12" >
                <textarea id="textarea1" class="materialize-textarea" name="material" ></textarea>
                <label for="textarea1" >Textarea</label>
            </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>

<div>
    <h1>Imagem</h1>
    <div>
        <h3><a href="/imagens" class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>Lista de Imagens</a></h3>
    </div>
</div>
<form action="#">
    <div class="file-field input-field">
        <div class="btn">
            <span>File</span>
            <input type="file" multiple>
        </div>
        <div class="file-path-wrapper">
            <input class="file-path validate" type="text" placeholder="Upload one or more files">
        </div>
    </div>
    <button class="btn waves-effect waves-light" type="submit" name="action">Enviar
        <i class="material-icons right">send</i>
    </button>
</form>

<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>

</body>
</html>